html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    text-align: center;
    background-color: #E9ECF5;
}

.title{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #993955;
    text-shadow: 3px 3px black;
    letter-spacing: 5px;
}

.container{
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 30px;

    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
}

.color-picker{
    height: 100px;
    width: 100px;
    border: none;

    background: url("./images/color-palette.svg");
}

.color-picker:hover{
    cursor: pointer;
}

.button{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-align: left;

    border-radius: 16px;
    border: 1px solid #993955;

    background-color: #CCD6EB;
    color: #993955;

    padding: 10px;
}

.button:hover{
    opacity: 60%;
    cursor: pointer;
}

.size-display{
    margin: 0;
}

.size-range{
    width: 100%;
    accent-color: #993955;
}

.canvas{
    height: 700px;
    width: 700px;
    box-shadow: 0px 0px 3px 3px #CCD6EB;

    display: flex;
    flex-direction: column;
    background-color: white;
}

.row{
    display: flex;
    flex-grow: 1;
}

.pixel{
    flex-grow: 1;
}

.pixel-hover{
    background-color: black;
}