html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    text-align: center;
    background-color: #E9ECF5;
}

.title{
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    color: #993955;
    text-shadow: 3px 3px black;
    letter-spacing: 5px;
}

.container{
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 20px;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.canvas{
    height: 700px;
    width: 700px;
    box-shadow: 0px 0px 3px 3px #CCD6EB;

    display: flex;
    flex-direction: column;
    background-color: white;
}

.row{
    display: flex;
    flex-grow: 1;
}

.pixel{
    flex-grow: 1;
}

.pixel-hover{
    background-color: black;
}